<!-- public/views/home.html -->

<div id="container">

  <!-- HEADER -->
  <nav id="header" class="navbar navbar-inverse">
    <div class="wrapper">
      <a class="navbar-brand" href="/"><img src="images/logo-black.png"/></a>

        <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
        <!--
        <ul class="nav navbar-nav">
            <li><a href="/nerds">App</a></li>
        </ul>
        -->
      <div class="menu-icon"><a href="mailto:hyperspotit@gmail.com"><img src="images/email.png" alt="Email us"/></a></div>
      <div class="menu-icon"><a href="https://twitter.com/hyperspotit"><img src="images/twitter.png" alt="Find us on Twitter"/></a></div>
      <div class="menu-icon"><a href="https://www.instagram.com/hyperspotit/"><img src="images/instagram.png" alt="Find us on Instagram"/></a></div>
      <div class="menu-icon"><a href="https://www.facebook.com/hyperspotit/"><img src="images/facebook.png" alt="Find us on Facebook"/></a></div>
    </div>
  </nav>

  <div id="landing-page" class="jumbotron">
    <div class="wrapper">
      <div class="slogan">
        <h1>Discover places and activities around you wherever you are</h1>

        <div class="cta">
          <a href="/nerds">{{ tagline }}</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="footer">
  <div class="wrapper">
    <div class="footer-box">
      <h2>Why does Spotit exist?</h2>
      <p>Spotit started as a project made by Hyper Island Students. Spotit exists to inspire you to discover new places and activities. Whether you know what you’re looking for or just want to explore and find something new Spotit can help you.</p>
    </div>
    <div class="footer-box">
      <h2>Who is Spotit for?</h2>
      <p>Spotit is for us, for you, for everyone. People around the world posts and shares millions of pictures of places and activities every day on social media that affects them. We want everyone to get inspired and be able find and experience new activities in an easy and fun way.</p>
    </div>
    <div class="footer-box">
      <h2>When to use Spotit?</h2>
      <p>Use Spotit whenever you like, whether you are looking for a beautiful place to have a picnic or a nice viewpoint to watch the sunset.</p>
    </div>
  </div>
</div>