<!-- public/views/nerd.html -->

<div id="content-inner-container" class="jumbotron text-center">

  <div id="breadcrums">
    <!-- RENDER BREADCRUMS ACCORDING TO STEP. S WHEN CLICK SHOW SECTION -->
    <a href="#">location</a> / <a href="#">category</a> / <a href="#">activity</a>
  </div>

  <div id="search">

    <div id="location" ng-hide="selectedCity = selectedCity">
      <h1>Location</h1>
      <select ng-model="selectedCity" ng-options="x for x in names">
        <option value="">-- Choose A City --</option>
      </select>
    </div>

    <div id="category" ng-hide="selectedCategory" ng-show="selectedCity = selectedCity">
      <h1>Category</h1>

      <select ng-model="selectedCategory" ng-options="x for x in category">
        <option value="">-- Choose A Category --</option>
      </select>
      <!--
      <a href="#" ng-click="activity = !selectedActivity" class="btn btn-primary btn-lg">Next</a>
      -->
      <div class="category" id="outdoor"><img src="/background-images/categories/test.jpg" alt="Camping" height="" width="">Outdoor</div>
      <div class="category" id="sport"><img src="/background-images/categories/test.jpg" alt="Camping" height="" width="">Sport</div>
      <div class="category" id="culture"><img src="/background-images/categories/test.jpg" alt="Camping" height="" width="">Culture</div>
    </div>

    <div id="activity" ng-hide="selectedActivity" ng-show="selectedCategory = selectedCategory">
      <h1>Choose an activity</h1>

      <select ng-model="selectedActivity" ng-options="x for x in activity">
        <option value="">-- Choose An Activity --</option>
      </select>

      <!-- RENDER ACTIVITIES BASED ON LOCATION AND CATEGORY -->
      <div class="outdoor-activities">
        <div class="activity" id="archipelago"><img src="/background-images/activities/archipelago.jpg" alt="Archipelago" height="" width="">Archipelago</div>
        <div class="activity" id="birdwatching"><img src="/background-images/activities/birdwatching.jpg" alt="Birdwatching" height="" width="">Birdwatching</div>
        <div class="activity" id="camping"><img src="/background-images/activities/camping.jpg" alt="Camping" height="" width="">Camping</div>
        <div class="activity" id="climbing"><img src="/background-images/activities/climbing.jpg" alt="Climbing" height="" width="">Climbing</div>
        <div class="activity" id="dogpark"><img src="/background-images/activities/dogpark.jpg" alt="Dogpark" height="" width="">Dogpark</div>
        <div class="activity" id="grill"><img src="/background-images/activities/grill.jpg" alt="Grill" height="" width="">Grill</div>
        <div class="activity" id="horsebackriding"><img src="/background-images/activities/horsebackriding.jpg" alt="Horsebackriding" height="" width="">Horsebackriding</div>
        <div class="activity" id="hunting"><img src="/background-images/activities/hunting.jpg" alt="Hunting" height="" width="">Hunting</div>
        <div class="activity" id="iceskating"><img src="/background-images/activities/iceskating.jpg" alt="Iceskating" height="" width="">Iceskating</div>
        <div class="activity" id="kayaking"><img src="/background-images/activities/kayaking.jpg" alt="Kayaking" height="" width="">Kayaking</div>
        <div class="activity" id="mushroompicking"><img src="/background-images/activities/mushroompicking.jpg" alt="Mushroompicking" height="" width="">Mushroompicking</div>
        <div class="activity" id="northernlight"><img src="/background-images/activities/northernlight.jpg" alt="Northernlight" height="" width="">Northernlight</div>
        <div class="activity" id="park"><img src="/background-images/activities/park.jpg" alt="Park" height="" width="">Park</div>
        <div class="activity" id="parking"><img src="/background-images/activities/parking.jpg" alt="Parking" height="" width="">Parking</div>
        <div class="activity" id="picnic"><img src="/background-images/activities/picnic.jpg" alt="Picnic" height="" width="">Picnic</div>
        <div class="activity" id="running"><img src="/background-images/activities/running.jpg" alt="Running" height="" width="">Running</div>
        <div class="activity" id="skateing"><img src="/background-images/activities/skateing.jpg" alt="Skateing" height="" width="">Skateing</div>
        <div class="activity" id="surfing"><img src="/background-images/activities/surfing.jpg" alt="Surfing" height="" width="">Surfing</div>
        <div class="activity" id="swimming"><img src="/background-images/activities/swimming.jpg" alt="Swimming" height="" width="">Swimming</div>
        <div class="activity" id="walking"><img src="/background-images/activities/walking.jpg" alt="Walking" height="" width="">Walking</div>
      </div>
      <div class="sport-activities">
        <div class="activity" id="cycling"><img src="/background-images/activities/cycling.jpg" alt="Cycling" height="" width="">Cycling</div>
        <div class="activity" id="fishing"><img src="/background-images/activities/fishing.jpg" alt="Fishing" height="" width="">Fishing</div>
        <div class="activity" id="football"><img src="/background-images/activities/football.jpg" alt="Football" height="" width="">Football</div>
        <div class="activity" id="golfing"><img src="/background-images/activities/golfing.jpg" alt="Golfing" height="" width="">Golfing</div>
        <div class="activity" id="gym"><img src="/background-images/activities/gym.jpg" alt="Gym" height="" width="">Gym</div>
        <div class="activity" id="skiing"><img src="/background-images/activities/skiing.jpg" alt="Skiing" height="" width="">Skiing</div>
        <div class="activity" id="tennis"><img src="/background-images/activities/tennis.jpg" alt="Tennis" height="" width="">Tennis</div>
      </div>
      <div class="culture-activities">
        <div class="activity" id="dating"><img src="/background-images/activities/dating.jpg" alt="Dating" height="" width="">Dating</div>
        <div class="activity" id="festival"><img src="/background-images/activities/festival.jpg" alt="Festival" height="" width="">Festival</div>
        <div class="activity" id="meditation"><img src="/background-images/activities/meditation.jpg" alt="Meditation" height="" width="">Meditation</div>
        <div class="activity" id="reading"><img src="/background-images/activities/reading.jpg" alt="Reading" height="" width="">Reading</div>
        <div class="activity" id="rollerskating"><img src="/background-images/activities/rollerskating.jpg" alt="Rollerskating" height="" width="">Rollerskating</div>
        <div class="activity" id="stargazing"><img src="/background-images/activities/stargazing.jpg" alt="Stargazing" height="" width="">Stargazing</div>
        <div class="activity" id="sunset"><img src="/background-images/activities/sunset.jpg" alt="Sunset" height="" width="">Sunset</div>
        <div class="activity" id="viewpont"><img src="/background-images/activities/viewpont.jpg" alt="Viewpont" height="" width="">Viewpont</div>
        <div class="activity" id="waterfall"><img src="/background-images/activities/waterfall.jpg" alt="Waterfall" height="" width="">Waterfall</div>
      </div>
    </div>

    <div id="spot-list">
      <!-- LIST ALL 500PX SPOTS FROM LOCATION, CATEGORY AND ACTIVITY -->
    </div>

    <div id="spot">
      <!--
      <div style="text-align:center;">
      <button ng-click="resultFunction()">Result</button>
      </div>

      <div class="crop" style="width:535px;height:535px;overflow:hidden;align">
      <img ng-src="{{content}}" style="width:625px;height:625px"/>
      </div>

      <div class="spot">
      <h1>{{name}}</h1>
      </div>
      -->

      <!--
      <div style="text-align:center;">
      <button ng-click="resultFunction()">Result</button>
      </div>
      -->
      </div>
      <div class="spot-image" class="crop">
        <!--<img ng-src="{{content}}" style="width:625px;height:625px"/>-->
        <img src="background-images/activities/viewpoint.jpg" />
      </div>

      <div class="spot-info">
        <h1>Viewpoint</h1>
      </div>

    </div>
  </div>

</div>
