<!-- public/views/nerd.html -->

<div class="jumbotron text-center">
    <h1>Location</h1>

    <select ng-model="selectedCity" ng-options="x for x in names">
      <option value="">-- Choose A City --</option>
    </select>

    <h1>Category</h1>
    <select ng-model="selectedCategory" ng-options="x for x in category">
      <option value="">-- Choose A Category --</option>
    </select>

    <h1>Activity</h1>
    <select ng-model="selectedActivity" ng-options="x for x in activity">
      <option value="">-- Choose An Activity --</option>
    </select>
</div>

<div style="text-align:center;">
<button ng-click="resultFunction()">Result</button>
</div>

<div class="crop" style="width:535px;height:535px;overflow:hidden;align">
<img ng-src="{{content}}" style="width:625px;height:625px"/>
</div>

<div style="text-align:center;">
<h1>{{name}}</h1>
</div>
