@font-face {
  font-family: "Acherus Grotesque";
  src: url('fonts/acherus_grotesque_-_regular-webfont.woff');
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Acherus Grotesque", Verdana, Tahoma;
}
/* LANDING PAGE */
#landing-page {
  background: url('/../images/bg.jpg') no-repeat;
  background-size: cover;
  float: left;
  height: 1000px;
  width: 100%;
}
.slogan {
  text-align: center;
  color: #fff;
  font-size: 34px;
  padding: 8% 0;
}
.CTA {
  width: 400px;
  height: 60px;
  margin: 0 auto;
  background-color: #879ca2;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
-moz-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, .75);
border: 2px solid #d6d3d3;
}
.CTA a {
  color: #000;
  text-decoration: none;
  width: 100%;
  display: block;
  font-weight: 900;
  font-size: 34px;
  text-align: center;
  color: #d7d4d4;
}


/* APP */
.navbar-header {
  height: 100%;
  height: 75px;
  background: rgba(0, 0, 0, 0.5);
}
.navbar-header img {
  width: auto;
  margin-top: 22px;
  margin-left: 20px;
  height: 35px;
}
.jumbotron {
  height: 500px;
}
.jumbotron h1 {
  margin: 0;
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  color: #000;
}

.select_join {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  overflow: hidden;
  border: #fff 1px solid;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  background: url('images/arrow.png') no-repeat;
  background-position: right 10px center;
  background-size: 20px 10px;
}
.select_join select {
  color: #fff !important;
  background: transparent;
  width: 400px;
  font-size:10pt;
  color:grey;
  border: 0;
  border-radius: 0;
  height: 40px;
  margin-left: 15px;
  -webkit-appearance: none;
}
.select_join select:focus {
  outline: none;
  color: #fff;
}

.breadcrums {
  font-size: 18px;
  color: #000;
  padding: 2%;
}
.breadcrums a {
  color: #000;
  text-decoration: none;
}

.category, .activity {
  background-size: cover !important;
  overflow: hidden;
}
.category:hover {
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transform: scale(1.01);
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.1, M12=0, M21=0, M22=1.1, SizingMethod='auto expand'); /* IE6 and 7 */
}
#location, #category, #activity {
  height: 100%;
  width: 100%;
  padding: 1%;
  border-top: 3px solid red;
  float: left;
}

/* location */
#location {
  background-image: url("images/app-bg.png");
  background-size: cover;
  height: 500px;
}

/* category */
#category {

}
#category .category {
  width: 31.333%;
  float: left;
  margin: 1%;
  text-align: center;
  height: 200px;
  line-height: 200px;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

/* activity */
#activity {

}
#activity .activity {
  width: 23%;
  float: left;
  margin: 1%;
  text-align: center;
  height: 150px;
  line-height: 150px;
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

#search {
  float: left;
  width: 100%;
  height: 100%;
  padding: 2% 0;
}
#result {
  float: left;
  width: 100%;
  height: 100%;
  padding: 2% 0;
  border-top: 3px solid red;
}
.spot-image {
  width: 625px;
  margin: 0 auto;
}
.spot-image img {
  width: 100%;
}
.spot-info {
  width: 625px;
  margin: 0 auto;
  text-align: center;
}
