@font-face {
  font-family: 'Acherus Grotesque';
  src: url('../fonts/acherus_grotesque_-_regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/acherus_grotesque_-_regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/acherus_grotesque_-_regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/acherus_grotesque_-_regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/acherus_grotesque_-_regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/acherus_grotesque_-_regular-../fonts/acherus_grotesque_-_regular-webfont.woff.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Acherus Grotesque", Verdana, Tahoma;
}
h1, h2, h3, p, a {
  margin: 0;
  padding: 0;
}
.jumbotron {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}
.navbar-inverse {
  background-color: transparent;
}

/* INDEX - HEADER AND CONTENT */
#container {
  background: url('/../images/bg.jpg') no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}
#header {
  height: 100%;
  height: 75px;
  margin: 0;
  padding: 0;
  /*background-color: transparent;*/
  border: 0;
  border-radius: 0;
}
#header .navbar-brand {
  width: auto;
  height: auto;
  float: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
#header img {
  width: auto;
  margin-top: 22px;
  margin-left: 20px;
  height: 35px;
}
#content {
  /*
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  */
}

/* LANDING PAGE */
#landing-page {

}
#landing-page .slogan {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 8% 0 16% 0;
}
#landing-page .slogan h1 {
  text-align: center;
  color: #fff;
  font-size: 34px;
  padding: 0 0 12% 0;
}
#landing-page .slogan .cta {
  width: 400px;
  height: 60px;
  margin: 0 auto;
  background-color: #8ecc43;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}
#landing-page .slogan .cta a {
  color: #000;
  text-decoration: none;
  width: 100%;
  height: 100%;
  font-size: 38px;
  text-align: center;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

/* FOOTER */
#footer {
  width: 90%;
  margin: 2% 5%;
  background-color: #fff;
}
#footer .footer-box {
  width: 27.333%;
  margin: 3%;
  float: left;
}
#footer .footer-box h2 {
  font-size: 18px;
  font-weight: 900;
  padding: 5% 0;
  min-height: 60px;
}
#footer .footer-box p {
  font-size: 14px;
}

/* APP */
#content-inner-container {
  background-color:red;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
#content-inner-container img {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  vertical-align: top;
}

#breadcrums {
  font-size: 18px;
  color: #000;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  background-color: green;
  text-align: left;
}
#breadcrums a {
  color: #000;
  text-decoration: none;
}

#search {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: blue;
}

#location, #category, #activity, #spot-list, #spot {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* location */
#location {
  background-image: url("images/app-bg.png");
  background-size: cover;
}

/* category */
#category {

}
#category .category {
  width: 31.333%;
  float: left;
  margin: 1%;
  text-align: center;
  height: 200px;
  line-height: 200px;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

/* activity */
#activity {

}
#activity .activity {
  width: 23%;
  float: left;
  margin: 1%;
  text-align: center;
  height: 150px;
  line-height: 150px;
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

/* spot list */
#spot-list {

}
#spot-list .spots {
  width: 23%;
  float: left;
  margin: 1%;
  text-align: center;
  height: 150px;
  line-height: 150px;
  font-size: 26px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
}

/* spot */
#spot {

}

#spot .spot-image {
  width: 625px;
  margin: 0 auto;
}
#spot .spot-image img {
  width: 100%;
}
#spot .spot-info {
  width: 625px;
  margin: 0 auto;
  text-align: center;
}
