<div class="container">

		<!-- <div class="form-group">
	    <label for="name">Name</label>
	    <input type="text" class="form-control" id="name" placeholder="Abenezer Abebe" ng-model="user.name">
	  </div>

		<div class="form-group">
	    <label for="email">Email address</label>
	    <input type="email" class="form-control" id="email" placeholder="hej@abenezer.me">
	  </div> -->

		<div class="form-group">
	    <label for="term">Spot</label>
	    <input type="text" class="form-control" id="name" placeholder="Ocean" ng-model="user.term">
	  </div>

		<div class="form-group">
	    <label for="city">City</label>
	    <input type="text" class="form-control" id="name" placeholder="Vancouver" ng-model="user.city">
	  </div>
    <!-- <input type="button" ng-click="reset()" value="Reset" /> -->
		<a class="btn btn-default" ng-href="/spots" role="button" ng-click = "update(user); assignLocation(); getSpots();">Search</a>
</div>
<!-- <a id='link-1' ng-href="/spots" ng-click = "getSpots()">FIRE</a> -->
